//navigation styles
.navigation {
  z-index: 9999;
  &__links {
    padding: 0px;
    margin: 0px;
  }
  &__item {
    position: relative;
    a {
      display: block;
      padding: 15px;
      color: #fff;
      text-transform: uppercase;
    }
  }

  &__categories {
    ul {
      width: max-content;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .dropdown__menu {
      left: 0 !important;
      transform: translate(10px, 0px);
    }
    .tab {
      display: grid;
      grid-template-columns: auto;
    }
    .menu-header {
      a {
        font-weight: 700;
      }
    }
    .sub {
      padding: 0px 15px;
    }
  }
}
@include breakpoint-down(medium) {
  .open {
    transform: translateX(0%);
  }
  .close {
    transform: translateX(-100%);
  }
  .shadow {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    width: 100% !important;
    visibility: visible !important;
  }
  .navigation {
    position: fixed;
    visibility: hidden;
    top: 0px;
    left: 0px;
    width: 270px;
    height: 100vh;

    .container {
      flex-direction: column;
      padding: 0px;
      margin-left: 0px;
      background-color: #fff;
      width: 270px;
      height: 100%;
      // z-index: 99999;
      transition: 0.5s all;
    }
    &__menu {
      width: 270px;
    }

    &__menuHeader {
      padding: 15px;
      text-transform: uppercase;
      background: #30323a;
      color: #fff;
      font-weight: 700;
    }
    &__links {
      flex-direction: column;
      border-left: 1px solid #dadada;
      border-right: 1px solid #dadada;
    }
    &__item {
      border-bottom: 1px solid #dadada;
      a {
        color: #30323a;
      }
    }
  }
}
@include breakpoint-up(large) {
  .navigation {
    background-color: #2f3135;
    &__menuHeader {
      padding: 15px;
      text-transform: uppercase;
      background: #2f3135;
      color: #fff;
      font-weight: 700;
    }

    &__item {
      position: relative;
      a {
        color: #fff;
      }
    }
  }
}
