@import "mixin.scss";
@import "_global.scss";
@import "_variables.scss";
@import "../components/web/Cart/cart.scss";
@import "../components/web/Footer/footer.scss";
@import "../components/web/Product/product.scss";
@import "../components/web/Header/header.scss";
@import "../components/web/Navigation/navigation.scss";
@import "../components/web/Home/Collection/collection.scss";
@import "../components/common/Card/card.scss";
@import "../components/web/ProductDetails/productDetail.scss";
@import "../components/web/Home/MostPopular/mostPopular.scss";
@import "../components/web/Home/NewArrival/newArrrival.scss";
@import "../components/web/Home/OurProduct/ourProduct.scss";
@import "../components/web/Home/HotDeal/hotDeal.scss";
@import "../components/common/Skeleton/skeleton.scss";
@import "../components/web/Home/Slider/slider.scss";

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
