.mostPopular {
  &__grid {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
    }
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 30px;
    }
  }
}
