.product {
  &__grid {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 25% 75%;
    }
  }
  &__list {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-rows: auto;
    }
  }
  .list-mid {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
