.productDetail {
  padding: 30px 0px;

  &__grid {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-rows: auto;
      row-gap: 30px;
    }
  }
  &__details {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 40% 60%;
      column-gap: 30px;
    }
  }
  &__left {
    display: grid;
    grid-template-rows: auto;
    row-gap: 30px;
  }
  &__mainView {
    position: relative;
    width: 455px;
    height: 455px;
  }
  &__view {
    position: relative;
    width: 455px;
    .slick-slide {
      padding: 0px 10px;
    }
  }

  &__label > span {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 700;
    color: #fff;
    z-index: 22;
  }
  &__productName {
    margin: 15px 0px;
  }
  &__labelSales {
    background-color: #30323a;
  }
  &__labelDiscount {
    background-color: #f8694a !important;
  }
  &__option {
    padding-top: 30px;
    margin-bottom: 15px;
    border-top: 1px solid #dadada;
    margin-top: 15px;
  }
  &__colorOption > button {
    display: block;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 0px;
  }

  &__tab {
    margin-top: 30px;
  }
  &__tabHeader {
    border-bottom: 1px solid #dadada;
    margin-bottom: 30px;
    span {
      display: block;
      padding: 15px 0px;
      text-transform: uppercase;
      font-weight: 700;
      color: #30323a;
      cursor: pointer;
    }
    li:nth-child(2) {
      margin-left: 30px;
    }
    li:last-child {
      margin-left: 30px;
    }
    .active {
      position: relative;
      transition: 0.3s all;
      span {
        color: #f8694a;
      }
    }
    .active > span::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1.5px;
      height: 3px;
      width: 30px;
      background-color: #f8694a;
    }
  }

  .review {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__form > h4 {
      font-size: 18px;
    }
    &__formGroup {
      margin-bottom: 15px;
    }
    &__formGroup > textarea.input {
      height: 90px;
      padding: 15px;
    }
    &__formGroup > .input {
      width: 100%;
    }
  }
}
