.collection {
  padding: 30px 0px;
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    position: relative;
    display: grid;
    place-items: center;
  }
  &__image {
    background: lightgray;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__title {
  }
  &__title > h2 {
    margin-top: 15px;
    text-align: center;
  }
  // &__title {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  //   text-transform: uppercase;
  //   h2 {
  //     font-size: 30px;
  //     font-weight: 700;
  //     color: #fff;
  //   }
  // }
}
